/* Grid Layout */

.grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-auto-rows: minmax(100px, auto);
}

#pm-app {
  
}

#summary {
  grid-column: span 6;
}

#reviewapp {
  grid-column: 2 / 8;
}
